%ul.menu
  - if user_signed_in?
    %li
      = link_to 'Sing out', destroy_user_session_path, method: 'delete'
  - else
    %li 
      = link_to 'Sing in', user_session_path
    %li
      = link_to 'Sing up', new_user_registration_path
    %li
      = link_to 'Twitter', user_omniauth_authorize_path(:twitter), :id => "sign_in_with_twitter"
    %li 
      = link_to 'Github', user_omniauth_authorize_path(:github), :id => "sign_in_with_github"
